<!DOCTYPE html> 
<html> 
<head> 
<meta charset="EUC-KR"> 
<title>Insert title here</title> 
</head> 
<body> 
<h1>Member Join</h1> 
<form action="/memJoin" method="post"> 
ID : <input type="text" name="memId"><br/> 
PW : <input type="password" name="memPw">
<br/> MAIL : <input type="text" name="memMail"><br/> 
PHONE : <input type="text" name="memPhone1" size="5"> - 
<input type="text" name="memPhone2" size="5"> - 
<input type="text" name="memPhone3" size="5"><br/> 
<input type="submit" value="Join"> 
</form> 
<a href="/html/login.html">LOGIN</a>   
 </body>
  </html>
